pip install torch
pip install scikit-learn
pip install regex
pip install numpy
pip install tqdm
pip install spacy
pip install termcolor
pip install pytest-shutil
pip install requests
pip install packaging
pip install argparse
pip install hashlib
pip install pytorch-warmup
pip install pandas
pip install pytest-warnings
pip install transformers
pip install metric-visualizer
pip install findfile
pip install gitpython
pip install autocuda
pip install fastapi
pip install pydantic
pip install uvicorn
pip install beautifulsoup4